
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TEDxUWIMona</title>
    @Styles.Render("~/bundles/css")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/modernizr")

</head>
<body>
    @Html.Partial("_NavbarPartial")
<div class="clearfix"></div>
    @Html.Partial("_TextCarousel")
    <div>
        @RenderBody()
        <hr />
        @Html.Partial("_Footer")
    </div>
<script>var onResize = function() {
        // apply dynamic padding at the top of the body according to the fixed navbar height
        $("body").css("padding-top", $(".navbar-fixed-top").height());
    };

// attach the function to the window resize event
    $(window).resize(onResize);

// call it also when the page is ready after load or reload
    $(function() {
        onResize();
    });</script>
    
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
